<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main>
    <h1 th:if="${action} =='add'">Add Category</h1>
    <h1 th:if="${action} =='edit'">Edit Category</h1>

    <form action="" th:object="${category}" method="post">
        <div>
            <label class="" th:for="*{categoryName}"> Category Name</label>
            <input type="text" placeholder="Category Name" th:field="*{categoryName}">
        </div>
        <div>
            <label class="" th:for="*{description}">Description</label>
            <input type="text" placeholder="Description" th:field="*{description}">
        </div>

        <input class="" type="submit" value="save">


    </form>
</main>
</body>
</html>