<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main>
    <h1>Add Transaction</h1>

    <form action="" th:object="${transaction}" method="post">
        <div>
            <label class="" th:for="*{userId}"> User Name</label>
            <select type="text" placeholder="User Name" th:field="*{userId}">
                <option th:each="user:${users}" th:text="${user.userName}" th:value="${user.userId}"></option>
            </select>
        </div>
        <div>
            <label class="" th:for="*{categoryId}">Category Name</label>
            <select type="text" placeholder="Category Name" th:field="*{categoryId}">
                <option th:each="category:${categories}" th:text="${category.categoryName}" th:value="${category.categoryId}"></option>
            </select>
        </div>
        <div>
            <label class="" th:for="*{vendorId}">Vendor Name</label>
            <select class="" type="text" placeholder="Vendor Name" th:field="*{vendorId}">
                <option th:each="vendor:${vendors}" th:text="${vendor.vendorName}" th:value="${vendor.vendorId}"></option>
            </select>
        </div>
        <div>
            <label class="" th:for="*{transactionDate}">Transaction Date</label>
            <input class="" type="text" placeholder="Transaction Date" th:field="*{transactionDate}">
        </div>
        <div>
            <label class="" th:for="*{amount}">Amount</label>
            <input class="" type="text" placeholder="Amount" th:field="*{amount}">
        </div>
        <div>
        <label class="" th:for="*{notes}">Notes</label>
        <input class="" type="text" placeholder="Notes" th:field="*{notes}">
        </div>


        <input class="" type="submit" value="save">


    </form>
</main>
</body>
</html>