<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>


<main class="container mt-5 mb-5">
    <h1>Delete Transactions</h1>
    <p class="alert alert-danger"><strong> You are about to delete the following transaction, do you want to continue?</strong></p>

    <table class="table">
        <tr>
            <th>Transaction Id</th>
            <td th:text="${transaction.transactionId}"></td>
        </tr>
        <tr>
            <th>Category Name</th>
            <td th:each="category:${categories}" th:if="${transaction.categoryId} == ${category.categoryId}" th:text="${category.categoryName}"></td>
        </tr>
        <tr>
            <th>Username</th>
            <td th:each="user:${users}" th:if="${transaction.userId} == ${user.userId}" th:text="${user.userName}"></td>
        </tr>
        <tr>
            <th>Vendor Name</th>
            <td th:each="vendor:${vendors}" th:if="${transaction.vendorId} == ${vendor.vendorId}" th:text="${vendor.vendorName}"></td>
        </tr>
        <tr>
            <th>Transaction Date</th>
            <td th:text="${transaction.transactionDate}"></td>
        </tr>
        <tr>
            <th>Amount</th>
            <td th:text="${transaction.amount}"></td>
        </tr>
        <tr>
            <th>Notes</th>
            <td th:text="${transaction.notes}"></td>
        </tr>

    </table>
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a th:href="@{|/transactions|}" class="btn btn-outline-info">Cancel</a>
    </form>
</main>
</body>
</html>