<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main>
    <h1>All Transactions</h1>
    <a href="/transactions/add">Add Transaction</a>

    <table>
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Category Name</th>
            <th>Username</th>
            <th>Vendor Name</th>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Notes</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="transaction:${transactions}">
            <td th:text="${transaction.transactionId}"></td>
            <td>
                <div class="id-name" th:each="category:${categories}" style="display:inline-block, margin:0, padding:0;">
                    <span th:if="${transaction.categoryId} == ${category.categoryId}" th:text="${category.categoryName}"></span>
                </div>
            </td>
            <td>
                <div class="id-name" th:each="user:${users}" style="display:inline-block, margin:0, padding:0;">
                    <span th:if="${transaction.userId} == ${user.userId}" th:text="${user.userName}"></span>
                </div>
            </td>
            <td>
                <div class="id-name" th:each="vendor:${vendors}" style="display:inline-block, margin:0, padding:0;">
                    <span th:if="${transaction.vendorId} == ${vendor.vendorId}" th:text="${vendor.vendorName}"></span>
                </div>
            </td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.notes}"></td>
            <td>
                <a th:href="@{|/transactions/${transaction.transactionId}/edit|}">Edit</a>
                <a th:href="@{|/transactions/${transaction.transactionId}/delete|}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</main>
</body>
</html>