<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container mt-5 mb-5">
    <h1 th:if="${action} =='add'">Add User</h1>
    <h1 th:if="${action} =='edit'">Edit User</h1>

    <form action="" th:object="${user}" method="post">
        <div class="form-floating mb-3">
            <input type="text" placeholder="User Name" th:field="*{userName}" class="form-control">
            <label th:for="*{userName}"> User Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" placeholder="First Name" th:field="*{firstName}" class="form-control">
            <label th:for="*{firstName}">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Last Name" th:field="*{lastName}" class="form-control">
            <label th:for="*{lastName}">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Phone" th:field="*{phone}" class="form-control">
            <label th:for="*{phone}">Phone</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Email" th:field="*{email}" class="form-control">
            <label th:for="*{email}">Email</label>
        </div>


        <input class="btn btn-secondary" type="submit" value="Save">


    </form>
</main>
</body>
</html>